<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <ul class="navbar-brand">
      <span class="dev"><%= link_to 'DEVIDEAS', root_path %></span>
      <span class="right"><%= link_to 'Already a member?', login_path, class: 'navbar-right' %></span>
    </ul>
  </div>
</nav>